@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Roboto:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}


.oswald{
  font-family: 'Oswald', sans-serif;

 
}

.roboto{
  
    font-family: 'Roboto', sans-serif;


}

.sans{
  font-family: 'Oswald', sans-serif;
} 

.unique{
  background:
   url('./assets/unique.jpg') 
  no-repeat center/cover;
  
}



.menuNav.showMenu {
  width: 100%;

}






.architecture {
  animation: slideIn linear  4s ;
  /* opacity: 0; */
  transition: 350ms;






















 
}
@keyframes slideIn {
  0% { opacity : 0;
  transform: translateX(100%);
 }
  100% { opacity : 1;
    transform: translateX(0%);
  }
}
 








  .Home {
    background:
     url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/c013fa0e06ce5c8fb78400a1/pexels-photo-6434779.jpeg') 
    center/cover ;
    height: 856px;
    width: 100%;
   
    background-size: auto 145%;
    background-position: 0% 116%;
    background-repeat: no-repeat;

 
}


