@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Roboto:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}


.navBar {
  position: relative;
}

.navBar button {
  /* position: fixed; */
  /* left: 10px; */
  /* top: 40px; */
  z-index: 10; 
 /* cursor: pointer; */
}

.menuNav {
  /* overflow-y: scroll; */
  /* list-style: none; */
  position: fixed;
  width: 0; 
   top: 0;

   /* color: #FFFFFF;
 background: #111111; */
 /* background: #FFFFFF; */
   /* right: 0; 
  bottom: 0;  */
  /* height: 100vh;
  overflow: hidden;
   max-width: 290px; 
    z-index: 9;
}

.span {
  display: block;
  /* padding: 10px 10px;  */
   /* text-decoration: none; */
  /* color: #3fffd2; */
  /* color: black; */
  /* text-transform: uppercase;
  font-weight: bold; */
  
} 

/* .menuNav li:first-child {
  margin-top: 7rem;
}
  */
 
.oswald{
  font-family: 'Oswald', sans-serif;

 
}

.roboto{
  font-family: 'Roboto', sans-serif;

}

.sans{
  font-family: 'Oswald', sans-serif;
} 

.unique{
  background:
   url('./assets/2022022408334798.jpg') 
  no-repeat center/cover;
  
}



.menuNav.showMenu {
  width: 100%;

}